# 忽略本地配置和环境变量文件
.env

# 忽略 Jupyter 笔记本
*.ipynb

# 忽略你不想上传的其它具体文件或文件夹
gradio_app.py

# 忽略 csv 文件
*.csv

# 忽略 png 图片文件
*.png

# 忽略 xlsx 文件
*.xlsx

# 忽略 sqlite 文件
*.db
*.sqlite3
*.sqlite

*.sqlite3-shm
*.sqlite3-wal
*.sqlite3-journal